<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<!--
#set(Collection<Article> ars)
-->
<head>
  <meta charset="UTF-8"/>
  <title>文章列表</title>
  <link rel="stylesheet" href="../static/css/basic.css" />
</head>
<body>
<div>
<!--#for(Article ar : ars)
  <a href="/articles/${ar.id}"><h5>${ar.title}</h5></a>
  <div>作者: <a href="/users/{ar.author.id}">${ar.author.name}</a></div>
  <div>${ar.whenCreated}</div>
#end-->
  <div th:each="ar : ${ars}">
    <a th:href="/articles/${ar.id}"><h5 th:text="${ar.title}">文章标题</h5></a>
    <div>作者: <a th:href="/users/{ar.author.id}" th:text="${ar.author.name}">作者名字</a></div>
    <div th:text="${ar.whenCreated}">创建时间</div>
  </div>
</div>
<script src="../static/js/vue.min.js"></script>
</body>
</html>