<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>修改用户信息</title>
  <link rel="stylesheet" href="../static/css/basic.css" />
</head>
<body>
<div>
  <form th:action="@{'/api/users/'+${user.id}'+/update'}" method="post">
    名字: <input name="name" th:value="${user.name}" type="text"/>
    简介: <input name="introduction" th:value="${user.introduction}" type="text"/>
    <input type="submit"/>
  </form>
</div>
<script src="../static/js/vue.min.js"></script>
</body>
</html>