<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<!--
#set(Collection<User> users)
-->
<head>
  <meta charset="UTF-8"/>
  <title>用户列表</title>
  <link rel="stylesheet" th:href="@{/css/basic.css}" />
</head>
<body>
<div>
<!--#for(User user : users)
  <div><a href="/users/${user.id}">${user.name}</a></div>
  <div>简介: ${user.introduction}</div>
#end-->

  <div th:each="user : ${users}">
    <div><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></div>
    <div>简介: <span th:text="${user.introduction}"></span></div>
  </div>

  <!--/*/ <th:block th:each="user:${users}"> /*/-->
  <div><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></div>
  <div>简介: <span th:text="${user.introduction}"></span></div>
  <!--/*/ </th:block> /*/-->

</div>
<script th:src="@{/js/vue.min.js}"></script>
</body>
</html>